@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AvenirBlack";
  src: url(assets/font/avenir-font/AvenirLTStd-Black.otf) format(truetype);
}

@font-face {
  font-family: "AvenirMedium";
  src: url(assets/font/avenir-font/AvenirLTStd-Medium.otf) format(truetype);
}

@font-face {
  font-family: "AvenirItalic";
  src: url(assets/font/avenir-font/AvenirLTStd-Oblique.otf) format(truetype);
}

@font-face {
  font-family: "SharpSemiBold25";
  src: url(assets/font/SharpGrotesk/SharpGrotesk-SemiBold25.otf) format(truetype);
}

@font-face {
  font-family: "Avenir85Heavy";
  src: url(assets/font/avenir-font/AvenirLTStd-Heavy.otf) format(truetype);
}

@font-face {
  font-family: "Avenir55Roman";
  src: url(assets/font/avenir-font/AvenirLTStd-Roman.otf) format(truetype);
}

html {
  scroll-behavior: smooth;
}

* {
  color: white;
}

@layer utilities{
  .shadow-text {
    @apply font-sharpSemiBold25 text-center text-3xl opacity-10;
  }

  .section-text {
    @apply font-sharpSemiBold25 text-center text-3xl;
  }

  .text-when-empty {
    @apply flex justify-center items-center text-xl text-center
  }
}

@layer components {
  .project-card {
    @apply w-full h-[400px] rounded-xl bg-white sm:w-1/3 md:w-1/4 sm:h-[300px] md:h-[350px] lg:h-[400px] overflow-hidden ;
  }
}

#nama {
  color: #DD7E71;
}
